<%= content_for :heading_title, "Motor di búskeda inteligente (cross-orthographic)" %>

<div class="container max-auto p-2">
  <div class="md:w-[584px] mt-7 flex items-center rounded-full border hover:shadow-md">
    <div class="pl-5">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </div>
    <%= form_tag("/buskado", method: "get") do %>
      <input value="<%= @query %>" type="text" name="query" type="text" class="border-none focus:ring-transparent w-full bg-transparent rounded-full py-[14px] pl-4 outline-none" />
    <% end %>
  </div>
</div>

<% unless @search_data.nil? %>
  <div class="container max-auto p-2">
    <div class="px-3">
      <p class="text-gray-500 text-md mb-5 mt-3">Serka <%= @search_data[:results].search_information.total_results %> resultado</p>
      <% unless @search_data[:results].items.nil? %>
        <% @search_data[:results].items.each do |item| %>
          <div class="max-w-xl mb-8 font-sans">
            <div class="group">
              <a href="<%= item.link %>" class="text-sml font-OpenSans text-stone-900">
                <%= item.link %>
              </a>
              <a href="<%= item.link %>">
                <h2 class="truncate text-xl text-blue-700 group-hover:underline font-OpenSans">
                  <%= raw item.title %>​
                </h2>
              </a>
            </div>
            <p class="line-clamp-2 text-gray-900 font-OpenSans">​
              <%= bold_search_words(item.snippet, @search_data[:words_with_variants].flatten) %>
            </p>
          </div>
        <% end %>
      <% end %>
    <div>
  </div>
<% end %>

<% unless @search_data.nil? %>
  <div class="container max-auto p-2">
    <nav class="flex max-w-xl items-center justify-between border-t border-gray-200 px-4 sm:px-0">
      <div class="hidden md:-mt-px md:flex">
        <% 0.upto(@search_data[:results].search_information.total_results.to_i / 10) do |i| %>
            <li class="<%= (@search_data[:start] == (i * 10) + 1) ? "inline-flex items-center border-t-2 border-indigo-500 px-4 pt-4 text-sm font-medium text-indigo-600" : "inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" %>"><a href="/buskado?utf8=✓&query=<%= @query %>&start=<%= (i * 10) + 1 %>"><%= i + 1 %></a></li>
            <% break if i >= 10 %>
          <% end %>
      </div>
    </nav>
  </div>
<% end %>