<%= content_for :heading_title, "Traduktor Ortográfiko" %>

<!-- Translator -->
<div class="before:content-[''] before:bg-gray-50
      before:h-24 before:w-full before:absolute
      before:border-b before:border-gray-200
      before:z-0 z-10">
  <div class="container mx-auto px-0 lg:px-24">
    <div class="flex flex-row mt-16">
      <div class="pb-4 top-32 h z-10 w-full">
        <!-- Translator Container -->
        <div class="bg-white rounded-lg border border-gray-200
            drop-shadow-sm shadow-sm">
          <!-- Language Bar -->
          <div class="flex border-b border-gray-300">
            <!-- From Languages -->
            <div class="w-7/12">
              <nav class="flex flex-row rounded-tl-lg">
                <!-- Lang: English -->
                <button class="uppercase py-3.5 px-3
                    text-gray-600 font-semibold
                    text-xs lg:text-sm
                    hover:bg-gray-50 hover:text-gray-700
                    transition-colors duration-100
                    text-blue-500 hover:text-blue-600
                    border-b-2 border-blue-500 ">
                    Ortografia etimológiko
                  </button>
              </nav>
            </div>

            <!-- Switch Languages -->
            <div class="w-1/12">
              <div class="flex items-center justify-center">
                <%= button_to traduktor_ortografiko_fonologiko_path, method: :get, params: { teksto: @resultado }, class: "hover:bg-gray-100 rounded-full w-10 h-10 mt-1 transition-colors duration-100" do %>
                  <i class="mdi mdi-swap-horizontal mdi-24px text-gray-600"></i>
                <% end %>
              </div>
            </div>

            <!-- To Languages -->
            <div class="w-7/12">
              <nav class="flex flex-row rounded-tl-lg">
                <button class="uppercase py-3.5 px-3
                    text-gray-600 font-semibold
                    text-xs lg:text-sm
                    hover:bg-gray-50 hover:text-gray-700
                    transition-colors duration-100
                    text-blue-500 hover:text-blue-600
                    border-b-2 border-blue-500 ">
                    Ortografia fonológiko
                  </button>
              </nav>
            </div>
          </div>

          <!-- Translate Inputs -->
          <div class="flex">
            <!-- Input Container -->
            <div class="w-6/12 border-r border-gray-200 p-4">
              <div class="h-40">
                <div class="flex flex-row">
                  <%= form_tag "/traduktor-ortografiko/fonologiko",
                    method: "post",
                    data: { controller: "form" } do %>
                    <%= text_area_tag :teksto,
                      @teksto,
                      class: "border-none focus:ring-transparent resize-none w-full focus:outline-none text-base lg:text-2xl text-blak custom-scrollbar",
                      rows: "5",
                      spellcheck: "false",
                      maxlength: "5000",
                      data: { action: "keyup->form#submit" }
                    %>
                  <% end %>
                </div>
              </div>

              <!-- Input Buttons -->
              <div class="h-10">
                <div class="flex flex-grow">
                  <div class="flex-none">
                  </div>

                  <div class="grow">
                    <div class="flex float-right">
                      <div class="text-sm text-gray-400 pt-5"
                        x-text="`${sourceText.length}/5000`">
                        0/5000
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Output Container -->
            <div class="w-6/12 bg-gray-100 rounded-br-lg p-4">
              <div class="h-40">
                <!-- Output Area -->
                <%= render "traduktor_ortografiko/output", resultado: @resultado %>
              </div>

              <!-- Output Buttons -->
              <div class="h-10">
                <div class="flex flex-grow" x-show="sourceText.length">
                  <div class="grow">
                    <div class="flex float-right">
                      <button id="copy-translation" class="hover:bg-gray-200 rounded-full
                            w-10 h-10 mt-1
                            transition-colors duration-100" :data-clipboard-text="translatedText"
                          x-on:click="Toastify({text: 'Translation copied to your clipboard.', className: 'success rounded-md'}).showToast()">
                          <i class="mdi mdi-content-copy mdi-18px text-gray-600"></i>
                        </button>

                      <button class="hover:bg-gray-200 rounded-full
                          w-10 h-10 mt-1
                          transition-colors duration-100">
                          <i class="mdi mdi-share-variant mdi-18px text-gray-600"></i>
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>