<div class="flex">
  <header class="flex flex-grow px-5 py-2 border-b border-gray-200">
    <!-- Menu and Logo -->
    <div class="flex-none">
      <div class="flex flex-grow mt-1">
        <h1><strong><span style="font-family: 'Product Sans',sans-serif;font-size:20px;"><span class="a-blue">A</span><span
          class="b-blue">B</span><span class="c-blue">C</span><span class="link-yellow">link</span></span></strong></h1>
          <div class="ml-2 my-auto text-lg font-medium text-gray-500">
            <%= yield :heading_title %>
          </div>
      </div>
    </div>
    <div class="flex-grow"></div>
  </header>
</div>